body{
  overflow: hidden;
  margin: 0;
}

div, p{
    user-select: none;
    font-family: "Noto Sans TC", sans-serif;
}


#volume-reminder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1000;
}

#volume-reminder.show {
    opacity: 1;
}

#volume-icon {
    font-size: 48px;
    margin-bottom: 20px;
}

#hold-reminder {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right:auto;
    margin-left:auto;
    width: 80%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1000;
}

#hold-reminder.show {
    opacity: 1;
}


#congratulation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

#congratulation-text {
  color: white;
  font-size: 4em;
  text-align: center;
}
